@model List<OnlineBookShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            @if (Model.Count > 0)
            {
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Sản phẩm</td>
                            <td class="description"></td>
                            <td class="price">Giá</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Tổng tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var url = "/chi-tiet/" + @item.Product.MetaTitle + "-" + @item.Product.ID;
                            int tongtien = item.Product.GiaBan.GetValueOrDefault() * item.Quantity;
                            <tr>
                                <td class="cart_product">
                                    <a href="@url"><img src="@Url.Content(item.Product.AnhBia)" alt="" style="width:50px; height:50px"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="@url">@item.Product.TenSach</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p>@item.Product.GiaBan</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        @*<a class="cart_quantity_down" href="#"> - </a>*@
                                        @*<a class="cart-delete" data-id="@item.Product.ID" href="#"><i class="fa fa-minus"></i></a>*@
                                        <button id="btnMinus" class="btn">-</button>

                                        <input class="txtquantity" type="number" name="quantity" data-id="@item.Product.ID" value="@item.Quantity" autocomplete="off" size="2">
                                        <button id="btnAdd" class="btn">+</button>

                                        @*<a class="btn-delete" data-id="@item.Product.ID" href="#"><i class="fa fa-plus"></i></a>*@

                                        @*<a class="cart_quantity_up" href="#"> + </a>*@
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@tongtien VND</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="btn-delete" data-id="@item.Product.ID" href="#"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>

                        }



                    </tbody>
                </table>

                <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
                <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
                <button id="btnDeleteAll" class="btn">Xóa giỏ hàng</button>
                <button id="btnPayment" class="btn">Thanh toán</button>


            }
            else
            {
                <p>Chưa có sản phẩm nào lun</p>
            }

        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        @*<div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>*@
        <div class="row">
            <div class="col-sm-6">
                <label>Thông tin khách hàng</label>
                <div class="chose_area">
                    @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Người nhận</label>
                            <input name="shipName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Điện thoại</label>
                            <input name="shipPhone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input name="shipAddress" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="shipEmail" class="form-control" />
                        </div>
                        <button class="btn btn-default update" type="submit">Gửi đơn hàng</button>
                    }

                </div>
            </div>
            <div class="col-sm-6">
                <label>Hóa đơn</label>
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>$59</span></li>
                        <li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
