@model OnlineBookShop.Entities.NhaXuatBan
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">XÓA NHÀ XUẤT BẢN</h6>
    </div>
    <div class="card-body">
        <h7>Bạn có chắc chắn muốn xóa?</h7>
        <div>
            <hr />

            @*this*@
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên nhà xuất bản</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.TenNXB)</td>
                        <td>@Html.DisplayFor(model => model.DiaChi)</td>
                        <td>@Html.DisplayFor(model => model.DienThoai)</td>
                    </tr>
                </tbody>
            </table>



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>

    </div>

</div>



