@model OnlineBookShop.Support_Class.BookDetails

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">XÓA SÁCH</h6>
    </div>
    <div class="card-body">
        <h7>Bạn có chắc chắn muốn xóa?</h7>
        <div>
            <hr />

            @*this*@
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sách</th>
                        <th>Giá bán</th>
                        <th>Ảnh bìa</th>
                        <th>SL tồn</th>
                        <th>Tên TG</th>
                        <th>Tên CD</th>
                        <th>Tên NXB</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.TenSach)</td>
                        <td>@Html.DisplayFor(model => model.GiaBan)</td>
                        <td>
                            <img src="@Url.Content(Model.AnhBia)" alt="" style="height:120px; width:90px" />
                        </td>
                        <td>@Html.DisplayFor(model => model.SoLuongTon)</td>
                        <td>@Html.DisplayFor(model => model.HoTenTG)</td>
                        <td>@Html.DisplayFor(model => model.TenCD)</td>
                        <td>@Html.DisplayFor(model => model.TenNXB)</td>
                    </tr>
                </tbody>
            </table>



            @*and this*@

            <!--<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>-->
            @*@Html.DisplayFor(model => model.AnhBia)*@
            <!--<img src="@Url.Content(Model.AnhBia)" alt="" style="height:120px; width:90px" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

    </dl>-->

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>

    </div>

    </div>



