@*@model IEnumerable<OnlineBookShop.Support_Class.BookDetails>*@

@model PagedList.IPagedList<OnlineBookShop.Support_Class.BookDetails>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">LIST BOOKS</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <!--<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>-->

                <!-- Topbar Search -->
                <!--<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                </form>-->

                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small col-12" placeholder="Search for..."
                               aria-label="Search" value="@ViewBag.searchString" aria-describedby="basic-addon2" name="searchString">

                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>

                }


                <!-- Topbar Navbar -->

            </nav>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>


            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sách</th>
                        <th>Giá bán</th>
                        <th>Ảnh bìa</th>
                        <th>SL tồn</th>
                        <th>Tên TG</th>
                        <th>Tên CD</th>
                        <th>Tên NXB</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TenSach</td>
                            <td>@item.GiaBan</td>
                            <td><img src="@Url.Content(@item.AnhBia)" alt="" style="height:80px; width:50px" /></td>
                            @*<td><img src="@item.AnhBia" style="width:80px;height:50px "    /></td>*@
                            <td>@item.SoLuongTon</td>
                            <td>@item.HoTenTG</td>
                            <td>@item.TenCD</td>
                            <td>@item.TenNXB</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>


            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))

        </div>
    </div>
</div>